
#css3dimagePager, #css3dtransparency {
	text-align: center;
	position: relative;
	z-index: 11;
	padding: 0 0 10px;
	margin: 0;
}
#css3dimagePager li {
	padding-right: 2em;
	display: inline-block;
	cursor: pointer;
}
#css3dimagePager li.active, #css3dtransparency.active {
	font-weight: bold;
}
#css3dimageslider {
	-webkit-perspective: 1000;
	-moz-perspective: 1000px;
	-ms-perspective: 1000;
	perspective: 1000;
	-webkit-perspective-origin: 50% 100px;
	-moz-perspective-origin: 50% 100px;
	-ms-perspective-origin: 50% 100px;
	perspective-origin: 50% 100px;
	margin: 40px auto 20px auto;
	width: 100%;
	height: 350px;
}
#css3dimageslider ul {
	position: relative;
	margin: 0 auto;
	height: 281px;
	width: 450px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin: 50% 100px 0;
	-moz-transform-origin: 50% 100px 0;
	-ms-transform-origin: 50% 100px 0;
	transform-origin: 50% 100px 0;
	-webkit-transition: all 1.0s ease-in-out;
	-moz-transition: all 1.0s ease-in-out;
	-ms-transition: all 1.0s ease-in-out;
	transition: all 1.0s ease-in-out;
}
#css3dimageslider ul li {
	position: absolute;
	height: 281px;
	width: 450px;
	padding: 0px;
}
#css3dimageslider ul li:nth-child(1) {
	-webkit-transform: translateZ(225px);
	-moz-transform: translateZ(225px);
	-ms-transform: translateZ(225px);
	transform: translateZ(225px);
}
#css3dimageslider ul li:nth-child(2) {
	-webkit-transform: rotateY(90deg) translateZ(225px);
	-moz-transform: rotateY(90deg) translateZ(225px);
	-ms-transform: rotateY(90deg) translateZ(225px);
	transform: rotateY(90deg) translateZ(225px);
}
#css3dimageslider ul li:nth-child(3) {
	-webkit-transform: rotateY(180deg) translateZ(225px);
	-moz-transform: rotateY(180deg) translateZ(225px);
	-ms-transform: rotateY(180deg) translateZ(225px);
	transform: rotateY(180deg) translateZ(225px);
}
#css3dimageslider ul li:nth-child(4) {
	-webkit-transform: rotateY(-90deg) translateZ(225px);
	-moz-transform: rotateY(-90deg) translateZ(225px);
	-ms-transform: rotateY(-90deg) translateZ(225px);
	transform: rotateY(-90deg) translateZ(225px);
}
#css3dimageslider.transparency img {
	opacity: 0.95;
}

@media (max-width:1100px) {
	#css3dimagePager, #css3dtransparency {
		text-align: center;
		position: relative;
		z-index: 11;
		padding: 0 0 1vw; /* Approx 10px if viewport width is 1000px */
		margin: 0;
	}
	#css3dimagePager li {
		padding-right: 3.2vw; /* Approx 2em if 1em = 16px */
		display: inline-block;
		cursor: pointer;
	}
	#css3dimagePager li.active, #css3dtransparency.active {
		font-weight: bold;
	}
	#css3dimageslider {
		-webkit-perspective: 100vw; /* 1000px */
		-moz-perspective: 100vw; /* 1000px */
		-ms-perspective: 100vw; /* 1000px */
		perspective: 100vw; /* 1000px */
		-webkit-perspective-origin: 50% 10vw; /* Approx 100px if viewport width is 1000px */
		-moz-perspective-origin: 50% 10vw;
		-ms-perspective-origin: 50% 10vw;
		perspective-origin: 50% 10vw;
		margin: 4vw auto 2vw auto; /* Approx 40px top and 20px bottom if viewport width is 1000px */
		width: 100%;
		height: 35vw; /* Approx 350px if viewport width is 1000px */
	}
	#css3dimageslider ul {
		position: relative;
		margin: 0 auto;
		height: 28.1vw; /* Approx 281px if viewport width is 1000px */
		width: 45vw; /* Approx 450px if viewport width is 1000px */
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		-ms-transform-style: preserve-3d;
		transform-style: preserve-3d;
		-webkit-transform-origin: 50% 10vw 0; /* Approx 100px if viewport width is 1000px */
		-moz-transform-origin: 50% 10vw 0;
		-ms-transform-origin: 50% 10vw 0;
		transform-origin: 50% 10vw 0;
		-webkit-transition: all 1.0s ease-in-out;
		-moz-transition: all 1.0s ease-in-out;
		-ms-transition: all 1.0s ease-in-out;
		transition: all 1.0s ease-in-out;
	}
	#css3dimageslider ul li {
		position: absolute;
		height: 28.1vw; /* Approx 281px if viewport width is 1000px */
		width: 45vw; /* Approx 450px if viewport width is 1000px */
		padding: 0;
	}
	#css3dimageslider ul li:nth-child(1) {
		-webkit-transform: translateZ(22.5vw); /* Approx 225px if viewport width is 1000px */
		-moz-transform: translateZ(22.5vw);
		-ms-transform: translateZ(22.5vw);
		transform: translateZ(22.5vw);
	}
	#css3dimageslider ul li:nth-child(2) {
		-webkit-transform: rotateY(90deg) translateZ(22.5vw);
		-moz-transform: rotateY(90deg) translateZ(22.5vw);
		-ms-transform: rotateY(90deg) translateZ(22.5vw);
		transform: rotateY(90deg) translateZ(22.5vw);
	}
	#css3dimageslider ul li:nth-child(3) {
		-webkit-transform: rotateY(180deg) translateZ(22.5vw);
		-moz-transform: rotateY(180deg) translateZ(22.5vw);
		-ms-transform: rotateY(180deg) translateZ(22.5vw);
		transform: rotateY(180deg) translateZ(22.5vw);
	}
	#css3dimageslider ul li:nth-child(4) {
		-webkit-transform: rotateY(-90deg) translateZ(22.5vw);
		-moz-transform: rotateY(-90deg) translateZ(22.5vw);
		-ms-transform: rotateY(-90deg) translateZ(22.5vw);
		transform: rotateY(-90deg) translateZ(22.5vw);
	}
	#css3dimageslider.transparency img {
		opacity: 0.95;
	}
	
}